body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3px;
}

.calculator {
    width: 520px;
    height: 520px;
    border: 3px solid black;
}

/*Style the display-area*/

.textContainer {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.textField {
    width: 75%;
    height: 50%;
    border: 2px solid black;
}

/*Style the button-area*/

button {
    font-size: 24px;
}

.buttonContainer {
    display: flex;
    background-color: grey;
    height: 70%;
}

.numberContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 66%;
}

.numberRowOne,
.numberRowTwo,
.numberRowThree,
.numberRowFour {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

button {
    height: 90px;
    width: 90px;
}

.operatorContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.operatorRowOne,
.operatorRowTwo,
.operatorRowThree,
.operatorRowFour {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.delete {
    width: 100%;
}

.result {
    width: 100%;
}